#coin
{
	position: relative;
	width: 285px;
	color: #fff;
}
#main
{
	position: relative;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 100vh;
}

select option {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    font-size: 15px;
}

select
{
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 20px;
	text-align-last: center;
	border-radius: 5px;
	margin-left: 700px;
	margin-top: 215px;
	position: relative;
}

.btn.btn-md.btn-ghost
{
	display: inline-block;
}

.btn.btn-md.btn-ghost.first
{
	margin-left: 700px;
}

#timeTitle
{
	margin-left: 500px;
}

#sbtBtn
{
	position: relative;
	margin-left: 690px;
	width: 300px;
	height: 50px;
	border-radius: 5px;
	font-size: 15px;
}

.chartjs-wrapper
{
	margin-left: 20px;
}

#graph
{
	width: 55%;
	height: 350px;
	margin-top: 200px;
	position: absolute;

}

.btn.btn-md.btn-ghost.active
{
	background-color: #4c51e0;
	color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 255); 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(112, 116, 230); 
}